.hamburger-image {
  display: block;
  width: 250px;
  height: 250px;
  margin: auto;
  float: left;
}
.hotdog-image {
  display: block;
  width: 250px;
  height: 250px;
  margin: auto;
  float: left;
}
.fries-image {
  display: block;
  width: 250px;
  height: 250px;
  margin: auto;
  float: right;
}
.soda-image {
  display: block;
  width: 250px;
  height: 250px;
  margin: auto;
  float: rigth;
  
}
h1 {
  font-size: 30px;
  color: red;
  padding: 0 ;
  margin: 0 auto;
  text-align:center;

}
h2 {
  padding: 0 auto;
  margin:0 auto;
  text-align: center;
  font-size: 24px;
  color: black; 
  float: right;
}
p {
  padding: 0 auto;
  margin: 0 auto;
  color:black;
  font-size: 18px;
  text-align: center;
}
body {
  background-image: url("../images/background_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
}
.container {
  width: 50%;
  margin: auto;
  padding: auto;
}
#summary{
  width: 50%;
  margin: auto;
  padding: auto;
  height: 40%;
}