#hamburger{
  display: block;
  width: 250px;
  height: 250px;
  margin: auto;
  float: left;
}
#hotdog {
  display: block;
  width: 250px;
  height: 250px;
  margin: auto;
  float: left;
}
#fries {
  display: block;
  width: 250px;
  height: 250px;
  margin: auto;
  float: right;
}
#soda {
  display: block;
  width: 250px;
  height: 250px;
  margin: auto;
  float: rigth;
}
h1 {
  font-size: 50px;
  color:black;
  padding: 1px;
  margin: 1px;
  text-align:center;
  font-family: 'Modak', cursive;
}
h2 {
  padding: 0 auto;
  margin:0 auto;
  text-align: center;
  font-size: 24px;
  color: black; 
}
p {
  padding: 0 auto;
  margin: 0 auto;
  color:black;
  font-size: 20px;
  text-align: center;
}
body {
  background-image: url("../images/background_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
}
.container {
  width: 100%;
  margin: auto;
  padding: auto;
  border-style: solid;
  border-color: black;
}
#description {
  width: 60%;
  margin: auto;
  padding: auto;
  border-style: solid;
  border-color: black;
  float: left;
}
#scoreboard {
  width: 50%;
  margin: 2px;
  padding: 2px;
  border-style: solid;
  border-color: black;
  float: right;
  text-align: center;
}
/* #totalscore {
  width: 50%;
  margin: 2px;
  padding: 2px;
  border-style: solid;
  border-color: black;
  float: right;
  text-align: center;
} */
#img-container{
  margin: 2px;
  padding: 2px;
  border-style: solid;
  border-color: black;

}